:root {
  --black: #000;
  --darkGrey: #444;
  --lightGrey: #999;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
  border-radius: 5px;
}

body {
  background: var(--lightGrey);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--white);
}

.heading span {
  color: var(--white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--lightGrey);
}

header .user .name {
  font-size: 3.5rem;
  color: var(--darkGrey);
}

header .user .post {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--darkGrey);
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
  width: 20vw;
}

header .navbar ul li a {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--lightGrey);
  color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--darkGrey);
  color: var(--white);
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: var(--white);
}

.home h1 {
  font-size: 5rem;
  color: var(--white);
}

.home h1 span {
  color: var(--darkGrey);
}

.home p {
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
}

.btn {
  padding: 0.7rem 3rem;
  background: var(--white);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--darkGrey);
  color: var(--white);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  padding: 0 0.5rem;
  color: var(--black);
  font-weight: bold;
}

.about .row .counter {
  display: flex;
  justify-content: center;
  flex: 1 1 48rem;
  flex-wrap: wrap;
}

.about .row .counter .box {
  width: 20rem;
  background: var(--white);
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.about .row .counter .box span {
  font-size: 2rem;
  color: var(--lightGrey);
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: var(--black);
}

.career .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.career .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid var(--white);
  position: relative;
}

.career .box-container .box span {
  font-size: 1.3rem;
  background: var(--darkGrey);
  color: var(--white);
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.career .box-container .box h3 {
  font-size: 2rem;
  color: var(--white);
  padding-top: 1.5rem;
}

.career .box-container .box p {
  font-size: 1.4rem;
  color: var(--black);
  padding: 1rem 0;
}

.career .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
}

.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box:hover img {
  transform: scale(1.2);
}

.contact .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: var(--white);
  color: var(--black);
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--black);
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: block;
  background: var(--darkGrey);
  padding: 0.5rem;
  border-radius: 50%;
}
